
.form-wrapper{
    color: #ffffff;
    font-size: 14px;
    max-width: 320px;
}

.btn-primary{
    cursor: pointer;
    font-size: 12px;
}

.form-control{
    font-size: 12px;
}

p.success-text{
    font-size: 18px;
    font-weight: 600;
}